/* CSS reset */
@import 'normalize.css';

*,
*:where(::before, ::after) {
  box-sizing: border-box;
}

:where(img, picture, svg, video) {
  display: block;
  max-width: 100%;
}

:where(input, textarea, button, select) {
  font: inherit;
}

/* Global styles */
body {
  font-family: 'Inter', sans-serif;
}
