.OwnPlayer {
  max-width: 540px;
  margin-inline: auto;
}

.OwnPlayer > .Player {
  height: 120px;
  border-bottom-color: transparent;
  transform-origin: bottom;
}

.OwnPlayer > .Player[data-marked] {
  transform: scale(1.2, 1.2);
}
