.Chat {
  background-color: white;
  width: 540px;
  height: 400px;
  margin-inline: auto;
  border: solid currentColor 1px;
  padding: 1rem;

  display: grid;
  grid-template-rows: 1fr;
  gap: 1rem;
}

.Chat__scroll-container {
  overflow-x: clip;
  overflow-y: auto;

  scrollbar-width: none;
  -ms-overflow-style: none;
}

.Chat__scroll-container::-webkit-scrollbar {
  display: none;
}

.Chat__body {
  min-height: 100%;
  --triagle-size: 20px;
  padding-inline: var(--triagle-size);

  display: grid;
  grid-template-columns: 2rem 1fr 2rem;
  grid-auto-rows: min-content;
  align-content: end;
  gap: 0.5rem;
}

.Chat__message {
  --backgroundColor: white;
  background-color: var(--backgroundColor);
  border: solid black 1px;
  position: relative;
}

.Chat__message:not([data-own]) {
  grid-column: 1 / 3;
}

.Chat__message[data-own] {
  grid-column: 2 / 4;
}

.Chat__message::before,
.Chat__message::after {
  content: '';
  position: absolute;
  border-style: solid;
}

.Chat__message::before {
  bottom: -1px;
  border-width: calc(var(--triagle-size) / 2);
}

.Chat__message::after {
  bottom: 0;
  border-width: calc(var(--triagle-size) / 2 - 1px);
  color: var(--backgroundColor);
}

.Chat__message:not([data-own])::before,
.Chat__message:not([data-own])::after {
  right: 100%;
  border-color: transparent currentColor currentColor transparent;
}

.Chat__message[data-own]::before,
.Chat__message[data-own]::after {
  left: 100%;
  border-color: transparent transparent currentColor currentColor;
}

.Chat__message__header,
.Chat__message__text {
  margin: 0.5rem;
}

.Chat__message__author {
  font-size: 0.9rem;
  font-weight: 700;
}

.Chat hr {
  width: 100%;
  height: 1px;
  background-color: currentColor;
  margin: 0;
  border: none;
}

.Chat__form {
  display: flex;
  gap: 0.5rem;
  justify-content: right;
}

.Chat__input {
  width: 100%;
  background-color: white;
  border: solid currentColor 1px;
  padding: 0.2rem 0.4rem;
  font-weight: 500;
}
