.Player {
  width: fit-content;
  padding: 0;
  background-color: transparent;
  transition: transform 0.2s ease;
  position: relative;
  /* outline: 2px limegreen dotted; */
}

.Player[data-marked='true'] {
  transform: translate(0, -30%);
}

.Player__body {
  background-color: white;
  width: 100px;
  height: 100px;
  border: 1px solid currentColor;
  padding: 0;
  position: relative;
  text-align: left;
}

.Player[data-dead='true'] .Player__body {
  background-color: black;
  color: white;
}

.Player__body.button {
  cursor: pointer;
}

.Player__body.button:hover:not(:disabled) {
  background-color: #f9f9f9;
}

.Player__body.button:active:not(:disabled) {
  background-color: #eeeeee;
}

.Player__body.button:disabled {
  color: #8e8e8e;
}

.Player__name,
.Player__role {
  position: absolute;
  width: 100%;
  text-align: center;
}

.Player__name {
  top: 50%;
  transform: translate(0, -50%);
}

.Player__role {
  bottom: 25%;
  transform: translate(0, 50%);
}

.Player__heart {
  width: 18px;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Player__heart path {
  stroke: currentColor;
}

.Player__body.button:disabled .Player__heart path {
  fill: currentColor;
}

.Player[data-dead='true'] .Player__heart path {
  fill: currentColor;
}

.Player__section-sign {
  position: absolute;
  right: 6px;
  top: 6%;
  animation: shiver 0.3s ease-in-out infinite alternate;
}

@keyframes shiver {
  0% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(5deg);
  }
}

.Player__tags {
  position: absolute;
  --tag-gap: 5px;
  top: calc(-1 * var(--tag-gap));
  left: 50%;
  transform: translate(-50%, -100%);
  width: calc(100% + var(--tag-gap) * 2);

  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap-reverse;
  justify-content: left;
  gap: var(--tag-gap);

  user-select: none;
}

.Player__tag {
  font-size: 0.7rem;
  font-weight: 300;
  color: black;
  background-color: white;

  border: 1px solid currentColor;
  border-radius: 1em;
  padding-inline: var(--tag-gap);
  padding-block: 0.1rem;
}

.Player__snore {
  position: relative;
  user-select: none;
}

.Player__snore * {
  position: absolute;
  top: -1.2em;
  --animation-speed: 2.5s;
  --count: 3;
  opacity: 0;
  animation: snore var(--animation-speed) ease-out infinite;
}

.Player__snore :nth-child(1) {
  left: 50%;
}

.Player__snore :nth-child(2) {
  left: 55%;
  animation-delay: calc(var(--animation-speed) / var(--count));
}

.Player__snore :nth-child(3) {
  left: 48%;
  animation-delay: calc(var(--animation-speed) / var(--count) * 2);
}

@keyframes snore {
  15% {
    opacity: 1;
  }
  55% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -30px);
  }
}
